body {
    background-color: #1d1d1d;
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 300px;
}

header .logo {
    text-align: center;
    width: 100%;
}

main {
    min-height: calc(100vh - 400px);
    padding: 3rem 0 0 0;
}

footer {
    background-color: #141414;
    min-height: 110px;
    padding: 2rem 0;
}

footer .row {
    min-height: 100px;
}

footer a {
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
}

.card {
    background-color: #1d1d1d;
    border-color: white;
}

.card label {
    font-size: 1.1rem;
    text-transform: uppercase;
}

.price-title {
    font-weight: bolder;
    text-transform: uppercase;
}

.working-hours {
    background-color: #141414;
}

.working-hours-name {
    font-size: 2.1rem;
    font-weight: bolder;
    margin-bottom: 2.5rem;
}

.working-hours-name svg {
    position: relative;
    top: -5px;
}

.working-hours-title {
    color: white;
    font-weight: bolder;
    margin-bottom: 0.9rem;
}

.working-hours-info-from {
    border-radius: 10px;
    background-color: #030303;
    padding: 0.5rem 0.8rem;
}

.working-hours-info-to {
    border-radius: 10px;
    background-color: #030303;
    padding: 0.5rem 0.8rem;
}

.working-hours-disclaimer {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 600;
    padding: 0 2rem;
}

#haircuts-show {
    background-image: url("../img/haircut-bg.jpg");
}

#haircuts-show .carousel-item {
    text-align: center;
}

#haircuts-show .carousel-item img {
    height: auto;
    max-height: 800px;
    max-width: 90%;
    width: auto;
}

#haircuts-show .carousel-item video {
    height: auto;
    max-height: 800px;
    max-width: 90%;
    width: auto;
}

.action-box {
    display: block;
    border: 1px solid #141414;
    display: flex;
    gap: 16px;
    font-size: 24px;
    padding: 18px 16px;
    border-radius: 18px;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    font-weight: 700;
    max-width: 400px;
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    header {
        height: 200px;
    }

    header .logo img {
        height: 150px;
    }

    main#mobile-content {
        height: calc(100vh - 200px);
        padding-top: 16px;
    }
}
